.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  @media (min-width: 800px) {
    width: 150px;
    height: 150px;
  }
  img {
    display: inline;
    margin: 0 auto;
    height: 50%;
    width: auto;
  }
}
.paper {
  border: 15px solid hsl(230, 89%, 62%);
}
.scissors {
  border: 15px solid hsl(39, 89%, 49%);
}
.rock {
  border: 15px solid hsl(349, 71%, 52%);
}
