.home {
  background-color: hsl(214, 47%, 23%);
  min-height: 55vh;
  max-width: 90vw;
  .battle-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .result-label {
        font-size: 3rem;
        font-weight: 700;
        color: white;
      }
      .custom-button {
        background-color: white;
        color: hsl(214, 47%, 23%);
        min-width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        &:hover {
          color: hsl(349, 71%, 52%);
        }
      }
    }
    .filler {
      height: 6rem;
    }
  }
}
